Latex/*.aux
Latex/*.fdb_latexmk
Latex/*.fls
Latex/*.log
Latex/*.out
Latex/*.gz
Latex/*.bbl

Latex/*/*.aux
Latex/*/*.fdb_latexmk
Latex/*/*.fls
Latex/*/*.log
Latex/*/*.out
Latex/*/*.gz
Latex/*/*.bbl
Latex/transmissionplan/plan-main.pdf
Latex/transmissionplan/plan-main.toc
